<!DOCTYPE html>
<html lang="{{meta.code}}" dir="{{meta.dir}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{notFound.meta.title}}</title>
  <meta name="description" content="{{notFound.meta.description}}">
  {{> seo}}
  {{> styles}}
</head>
<body>
  {{> header}}
  <main>
    <header>
      <h1>{{notFound.h1}}</h1>
      <p>{{notFound.lead}}</p>
      <p><a href="{{urls.home}}">{{notFound.homeLink}}</a></p>
    </header>
  </main>
  {{> footer}}
</body>
</html>
