<footer class="surface-muted">
  {{#if hasHeartRateNote}}
  <p class="footnote" id="heart-rate-note"><small>{{footer.heartRateNote}}</small></p>
  {{/if}}
  {{#if isSupport}}
  <ul>
    <li><a href="{{urls.home}}">{{footer.home}}</a></li>
    <li><a href="{{urls.features}}">{{footer.features}}</a></li>
    <li><a href="{{urls.privacy}}">{{footer.privacy}}</a></li>
    <li><a href="{termsUrl}">{{footer.terms}}</a></li>
  </ul>
  {{else}}
  <ul>
    <li><a href="{termsUrl}">{{footer.terms}}</a></li>
    <li><a href="{{urls.privacy}}">{{footer.privacy}}</a></li>
    <li><a href="{{urls.support}}">{{footer.support}}</a></li>
    <li>{{footer.pressKit}}</li>
    <li><a href="{instagramUrl}">{{footer.instagram}}</a></li>
    <li><a href="{aboutUrl}">{{footer.about}}</a></li>
  </ul>
  {{/if}}
</footer>
<!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4fd2b6b6e6ae4d9e8af1504dd78929a8"}'></script><!-- End Cloudflare Web Analytics -->
