<header>
  <nav>
    <ul>
      <li>
        <a href="{{urls.home}}"{{#if isHome}} aria-current="page"{{/if}}>
          <img src="{{icon.src}}" alt="" width="{{icon.width}}" height="{{icon.height}}">
          <span>{{nav.home}}</span>
        </a>
      </li>
      <li>
        {{#if isFeatures}}
        <a href="{{urls.features}}" aria-current="page">{{nav.features}}</a>
        {{else}}
        <a href="{{urls.features}}">{{nav.features}}</a>
        {{/if}}
      </li>
      {{#if isSupport}}
      <li>
        <a href="{{urls.support}}" aria-current="page">{{nav.support}}</a>
      </li>
      {{/if}}
      <li>
        <details>
          <summary>{{meta.name}}</summary>
          <ul>
            {{#each languages}}
            <li>
              {{#if current}}
              <a href="{{url}}" hreflang="{{code}}" lang="{{code}}" aria-current="page">{{name}}</a>
              {{else}}
              <a href="{{url}}" hreflang="{{code}}" lang="{{code}}">{{name}}</a>
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
